body {
  margin: 0px;
}
main {
  display: grid;
  height: 100vh;
  grid-template-areas: 
    "header"
    "left"
    "content"
    "right"
    "footer";
}


  /*grid-template-columns: 
    [sideleft-start] 1fr
    [sideleft-end content-start] 2fr
    [content-end sideright-start] 1fr
    [sideright-end];

  grid-template-rows:
    [header-start] 1fr
    [header-end content-start] 2fr
    [footer-start] 1fr
    [footer-end];
}*/

@media (min-width: 500px) {
  main {
    grid-template-areas:
      "header header header"
      "left content right"
      "footer footer footer";
      grid-template-columns: 2fr 2fr 2fr;
      grid-template-rows: 3fr 3fr 3fr;
  }
}

header {
  grid-area: header;
  background-image: url(/assets/images/tv.svg);
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4em;
  font-weight: bolder;
  color: rgb(102, 102, 102);

}
aside-left:first-of-type {
  grid-area: left;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: url(/assets/images/Coffee\ Beans.jpg);
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  font-weight: bolder;
  color: bisque;
}

aside-right:last-of-type {
  grid-area: right;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: url(/assets/images/grass.jpg);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 4em;
  font-weight: bolder;
  color: black;
}

article {
  grid-area: content;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgb(204, 204, 204);
  background-image: url(/assets/images/cake.jpg);
  font-family: 'Aldrich', sans-serif;
  font-size: 4em;
  font-weight: bolder;
  color: rgb(2, 119, 158);
}

footer {
  grid-area: footer;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: black;
}
div {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 1rem;
  text-shadow: 0 0 5px white;
  padding: 1rem 1rem;
  font-family: 'Monoton', cursive;
  font-size: 4em;
}

/*.playing {
  transform:scale(1, 1);
  border-color: rgb(102, 102, 102);
  box-shadow: 0 0 10px rgb(204,204,204);
}*/
/*kbd {
  display: block;
  font-size: 30px;
}*/
/*.key {
  border: 1px solid white;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition:all 0.07s;
  width: 100px;
  text-align: center;
  text-shadow: 0 0 5px white;
}*/

/*.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}*/

